@PART[RREngineFOOF-125]:NEEDS[B9PartSwitch]
{
	MODULE
	{
		name = ModuleB9PartSwitch
		moduleID = VariantStructure
		switcherDescription = Mount Type
		switcherDescriptionPlural = Mount Types
		SUBTYPE
		{
			name = A
			title = 1.25m
			transform = S1
			node = top01
			attachNode = 0, 0.2, 0, 0, 1, 0
		}
		SUBTYPE
		{
			name = B
			title = 0.9375m
			transform = S0p5
			node = top
			attachNode = 0, 0, 0, 0, 1, 0
			// TRANSFORM
			// {
				// name = EngineBody
				// positionOffset = 0, 1, 0
			// }
		}
	}
}
@PART[RREngineFOOF-250?]:NEEDS[B9PartSwitch]
{
	MODULE
	{
		name = ModuleB9PartSwitch
		moduleID = VariantStructure
		switcherDescription = Mount Type
		switcherDescriptionPlural = Mount Types
		SUBTYPE
		{
			name = A
			title = 2.5m
			transform = S2
			node = top01
			attachNode = 0, 0.2, 0, 0, 1, 0
		}
		SUBTYPE
		{
			name = B
			title = 1.875m
			transform = S1p5
			node = top
			attachNode = 0, 0, 0, 0, 1, 0
			// TRANSFORM
			// {
				// name = EngineBody
				// positionOffset = 0, 1, 0
			// }
		}
	}
}
@PART[RREngineFOOF-*]:NEEDS[B9PartSwitch]
{
	IspSLLF = #$MODULE[ModuleEnginesFX],0/atmosphereCurve/key,1[1, ]$
	IspVacLF = #$MODULE[ModuleEnginesFX],0/atmosphereCurve/key,0[1, ]$
	IspSLH2 = #$MODULE[ModuleEnginesFX],0/atmosphereCurve/key,1[1, ]$
	IspVacH2 = #$MODULE[ModuleEnginesFX],0/atmosphereCurve/key,0[1, ]$
	IspSLCH4 = #$MODULE[ModuleEnginesFX],0/atmosphereCurve/key,1[1, ]$
	IspVacCH4 = #$MODULE[ModuleEnginesFX],0/atmosphereCurve/key,0[1, ]$
	@IspSLH2 *= 1.31
	@IspVacH2 *= 1.31
	@IspSLCH4 *= 1.05
	@IspVacCH4 *= 1.05
	ThrustLF = #$MODULE[ModuleEnginesFX],0/maxThrust$
	ThrustH2 = #$MODULE[ModuleEnginesFX],0/maxThrust$
	ThrustCH4 = #$MODULE[ModuleEnginesFX],0/maxThrust$
	@ThrustH2 *= 1.2
	@ThrustCH4 *= 1.4
	MODULE
	{
		name = ModuleB9PartSwitch
		moduleID = FuelSelect
		switcherDescription = Fuel Options
		switcherDescriptionPlural = Fuel Options
		switchInFlight = True
		SUBTYPE
		{
			name = LF
			title = LiquidFuel
			primaryColor = ResourceColorLiquidFuel
			secondaryColor = ResourceColorLiquidFuel
			descriptionSummary = The engine consumes LiquidFuel
			descriptionDetail = #<b>Isp (ClosedCycle)</b>: $/IspSLLF$ / $/IspVacLF$ sec <br><b>Thrust</b>: $/ThrustLF$ kN
		}
		SUBTYPE
		{
			name = LH2
			title = LqdHydrogen
			primaryColor = ResourceColorLqdHydrogen
			secondaryColor = ResourceColorLqdHydrogen
			descriptionSummary = The engine consumes LqdHydrogen
			descriptionDetail = #<b>Isp (ClosedCycle)</b>: <color="yellow">$/IspSLH2$</color> / <color="yellow">$/IspVacH2$</color> sec <br><b>Thrust</b>: <color="yellow">$/ThrustH2$</color> kN
			
			MODULE
			{
				IDENTIFIER
				{
					name = ModuleEnginesFX
				}
				DATA
				{
					maxThrust = #$/ThrustH2$
					PROPELLANT
					{
						name = LqdHydrogen
						ratio = 3.75
						DrawGauge = True
					}
					PROPELLANT
					{
						name = LqdFluorine
						ratio = 1.25
						DrawGauge = True
					}
					#/MODULE[ModuleEnginesFX],0/atmosphereCurve {}
					@atmosphereCurve
					{
						@key,0[1, ] *= 1.31
						@key,1[1, ] *= 1.31
					}
				}
			}
		}
		SUBTYPE
		{
			name = LCH4
			title = LqdMethane
			primaryColor = ResourceColorLqdMethane
			secondaryColor = ResourceColorLqdMethane
			// defaultSubtypePriority = 1
			descriptionSummary = The engine consumes LqdMethane
			descriptionDetail = #<b>Isp (ClosedCycle)</b>: <color="yellow">$/IspSLCH4$</color> / <color="yellow">$/IspVacCH4$</color> sec <br><b>Thrust</b>: <color="yellow">$/ThrustCH4$</color> kN
			
			MODULE
			{
				IDENTIFIER
				{
					name = ModuleEnginesFX
				}
				DATA
				{
					maxThrust = #$/ThrustCH4$
					PROPELLANT
					{
						name = LqdMethane
						ratio = 2.222
						DrawGauge = True
					}
					PROPELLANT
					{
						name = LqdFluorine
						ratio = 2.778
						DrawGauge = True
					}
					#/MODULE[ModuleEnginesFX],0/atmosphereCurve {}
					@atmosphereCurve
					{
						@key,0[1, ] *= 1.05
						@key,1[1, ] *= 1.05
					}
				}
			}
		}
	}
}